.content{
  margin: 5px;
  display: flex;
  border: solid 2px;
  border-radius: 10px;
}
.nameRow{
  margin: 5px;
  padding: 5px;
  border-right: solid 2px;
}
.dateRow{
  margin: 5px;
  padding: 5px;
}
